body{
    width: 1200px;
}

#header{
    height: 130px;
    background-image: url(../img/pattern.png);
    background-color: #4DA1FF;
    position: relative;
}

#logo{
    width: 13em;
    position: absolute;
    left: 0;
    bottom: 0;
}

#booleaner{
    color: #4DA1FF;
}

#didascalie{
    font-size: 60%;
}

.grey{
    color: #848484;
}

.date{
    font-size: 10px;
}

.yellow{
    background-color: #FFFF00;
}


.thead{
    background-color: #4DA1FF;
    color: #FFFFFF;
    width: 33%;
}

.tbodyb{
    background-color: #B2E6F2;
}


.white{
    color: #FFFFFF;
    font-weight: 700;
}

.correlati{
    width: 300px;
    height: 210px;
}

#monitor{
    background-image: url(../img/monitor.jpg);
}

#graph{
    background-image: url(../img/graph.jpg);
}

