body{
    width: 1200px;
}

header{
    height: 130px;
    background-image: url(../img/pattern.png);
    background-color: #4DA1FF;
}

#booleaner{
    color: #4DA1FF;
}

.grey{
    color: #848484;
}

.date{
    font-size: 10px;
}

.yellow{
    background-color: #FFFF00;
}

.white{
    color: #FFFFFF;
}

.correlati{
    width: 300px;
    height: 210px;
}

#monitor{
    background-image: url(../img/monitor.jpg);
}

#graph{
    background-image: url(../img/graph.jpg);
}

.thead{
    background-color: #4DA1FF;
    width: 33%;
    text-align: center;
}


.tbodyb{
    background-color: #B2E6F2;
}